# dependencies
node_modules

# build output
dist

# backup/temp
demo

# env files
.env*

# vercel
.vercel

# debug
*.log
console.log

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# IDE
.idea
.vscode
